.headerContainer {
  height: 100px;
  background-color: #9A9A9AE5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Medusa Gothic", sans-serif;
  padding: 0 40px;
  min-width: 320px;

  @media screen and (min-width: 0px) and (max-width: 470px) {
    padding: 0 10px;
  }

}
.headerLogo {
  display: flex;
  align-items: center;
}
.headerTitle {
  color: #37313C;
  margin-left: 10px;

  @media screen and (min-width: 0px) and (max-width: 470px) {
    font-size: 14px;
  }
}
.headerIcon {
  $iconSize: 70px;
  width: $iconSize;
  height: $iconSize;

  @media screen and (min-width: 0px) and (max-width: 470px) {
    $iconSize: 50px;
    width: $iconSize;
    height: $iconSize;
  }
}
.headerLink {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #FFFFFF;
  &:hover {
    $textShadow: 2px 2px 3px;
    color:#FFF4D8;
    text-shadow: $textShadow #FFF4D8;
  }

  @media screen and (min-width: 0px) and (max-width: 470px) {
  font-size: 12px;
  }
}
