.infoContainer {
  font-family: "Medusa Gothic", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 100%;
  padding: 20px 40px;
  min-width: 320px;
  max-width: 800px;
  box-sizing: border-box;
}
.infoHeader{
  font-size: 14px;
  color: #919191;
  span:first-child {
    margin-right: 20px;
  }
}
.qA {
  font-size: 17px;
}

.mainTitle {
  margin-top: 10px;
}
.infoTitle {
  font-weight: 900;
}